In [1]:
import pyGetera
import pandas as pd 


getera = pyGetera.GeteraInterface(getera_path = 'D:\\bin\\')
getera.input_file = 'lab1.txt'
getera.output_file ='lab1.out'

In [7]:
"3343".find('4')

2

In [2]:
C = 200
ptop0 = 10.97*6.02*10**(23)/269.928
pzam01 = 1.1*6.02*10**(23)/20.028

Rho1 = pd.DataFrame({'x':[1.2,1.3,1.4,1.5,1.6,1.7,1.8,2.0,3.6,3.6]})
Rho1['pzam'] = C*pzam01*ptop0/(C*ptop0+pzam01)
Rho1['ptop'] = pzam01*ptop0/(C*ptop0+pzam01)
Rho1['T'] = 293.0
Rho1['p5'] = 0*(Rho1.x/100)*Rho1.ptop*10**(-24)
Rho1['p8'] = 0*(1-Rho1.x/100)*Rho1.ptop*10**(-24)
Rho1['pO'] = 2*Rho1.ptop*10**(-24)
Rho1['pD'] = 2*Rho1.pzam*10**(-24)
Rho1['pO*'] = Rho1.pzam*10**(-24)
Rho1['pEr'] = 0.0

getera.input(Rho1[Rho1.columns[3:-1]].loc[0], ['t','U235', 'U238', 'O', 'D'])
#getera.output()

293.0
['293.0']
293.0
2.966e-07
['2.966e-07']
2.966e-07
4.148e-05
['4.148e-05']
4.148e-05
8.356e-05
['8.356e-05']
8.356e-05
 *****          file of input data set *******
:poly
 &vvod
   ig=3,
   rcel(1,1)=1.0,
   ncelsos(1,1)=1,
@----------------------------------------------------------------------
 t=293.0,
 troiz=
 @ izotop    / concentration /
 @ U235  @   2.966e-07,
 @ U238  @   4.148e-05,
 @ O     @   8.356e-05,
 @ C    @   8.356e-02,
@----------------------------------------------------------------------
 material(1)='chmc',
 &end
U235
U238
O
C
****
:corr
 &vvod &end
:fier
 &vvod &end
:macro
 &vvod
  ET=10.5E+6,2.15,2.15,0.,
 &end
:micro
 &vvod
  ET=10.5E+6,2.15,2.15,0.,
 &end
:stop
@----------------------------------------------------------------------

In [5]:
list(range(len([1])))

[0]

In [7]:
inputRho = Rho1[Rho1.columns[4:-1]]
inputRho.columns = ['U235', 'U238','O', 'D', 'O*']
inputRho

       U235      U238         O         D        O*
0  0.000002  0.000162  0.000328  0.065684  0.032842
1  0.000002  0.000162  0.000328  0.065684  0.032842
2  0.000002  0.000162  0.000328  0.065684  0.032842
3  0.000002  0.000162  0.000328  0.065684  0.032842
4  0.000003  0.000162  0.000328  0.065684  0.032842
5  0.000003  0.000161  0.000328  0.065684  0.032842
6  0.000003  0.000161  0.000328  0.065684  0.032842
7  0.000003  0.000161  0.000328  0.065684  0.032842
8  0.000006  0.000158  0.000328  0.065684  0.032842
9  0.000006  0.000158  0.000328  0.065684  0.032842

In [3]:
C = 200
ptop0 = 10.97*6.02*10**(23)/269.928
pzam01 = 1.1*6.02*10**(23)/20.028

Rho1 = pd.DataFrame({'x':[1.2,1.3,1.4,1.5,1.6,1.7,1.8,2.0,3.6,3.6]})
Rho1['pzam'] = C*pzam01*ptop0/(C*ptop0+pzam01)
Rho1['ptop'] = pzam01*ptop0/(C*ptop0+pzam01)
Rho1['T'] = 293.0
Rho1['p5'] = (Rho1.x/100)*Rho1.ptop*10**(-24)
Rho1['p8'] = (1-Rho1.x/100)*Rho1.ptop*10**(-24)
Rho1['pO'] = 2*Rho1.ptop*10**(-24)
Rho1['pD'] = 2*Rho1.pzam*10**(-24)
Rho1['pO*'] = Rho1.pzam*10**(-24)
Rho1['pEr'] = 0.0

getera.input(Rho1[Rho1.columns[3:-1]].loc[0], ['t','U235', 'U238', 'O', 'D'])
getera.output()

{'Σtot1': 0.2806849,
 'Σabs1': 0.001023835,
 'Σfis1': 3.133157e-05,
 'νSf1': 7.84675e-05,
 'D1': '1.365182',
 'Σtot2': 0.3238041,
 'Σabs2': 0.01101537,
 'Σfis2': 0.004945452,
 'νSf2': 0.01636582,
 'D2': '1.033498',
 'Σ1→2': '0.2427374'}

In [48]:
gui.input([1,2,3],['U235','U238','O'])

*[@ ] *\*?[UUO]\d*\*? *[@=] *
[' @ U235  @   ', ' @ U238  @   ', ' @ O     @   ']

In [13]:
string = ','.join(['ig','t', 'U235', 'U238'])
flag = False
first = []
second = []
for i in string:
    if i==',':
        flag = False
    elif i.isdigit():
        continue
    elif flag:
        second.append(i)
        flag = False
    else:
        first.append(i) 
        flag = True
ll = ''
reg_exp = f' *[@ ] *\*?[{ ll.join(first) }][{ ll.join(second) }]?\d*\*? *[@=] *' 
tail = '\D{1,4}\(?\d?\D?\d?\)?\*? *[@=] *'
reg_exp += tail
reg_exp

' *[@ ] *\\*?[itUU][g]?\\d*\\*? *[@=] *\\D{1,4}\\(?\\d?\\D?\\d?\\)?\\*? *[@=] *'

In [42]:
import re
a = re.compile(r'U(256)')
a.findall('U256, Er, U258, T')

['256']